<div class='bird'>
  <a class='nav' href='/'>Home</a>
  <img class='bird-img' src='{{image}}' alt='{{name}}' />
  <h2>Name: {{name}}</h2>

  <h2>
    Favorite food:
    {{favoriteFoodList}}

  </h2>
  <a href='/birds/{{id}}/edit'>Edit</a>
</div>