<div class='bird'>
  <a class='nav' href='/birds'>Home</a>
  <img class='bird-img' src='{{image}}' alt='{{name}}' />
  <h2>Name: {{name}}</h2>

  <h2>
    Favorite food:
    {{favoriteFoodList}}

  </h2>
  <button class='button'> <a href='/birds/{{id}}/edit'>Edit</a></button>

</div>