<form class='form' action='/birds/{{id}}/edit' method='post'>
  <img class='bird-img' src='{{image}}' alt='{{name}}' />
  <label for='name' class='form-item'>
    Name:
    <input type='text' name='name' value='{{name}}' />
  </label>

  <input type='hidden' name='image' value='{{image}}' />

  <input type='submit' name='' value='Submit' />
</form>